My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "url": "https://newsapi.org/v2/top-headlines?category=technology&language=en&apiKey=2e1c6c46e4b849518b8bed0d383954e3",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        0
      ],
      "id": "ffab6f5e-0ac2-4efc-b275-288a89844480",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "chatId": "8419498963",
        "text": "={{$json[\"mesaj\"]}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1248,
        0
      ],
      "id": "95b7c371-516b-4a6f-9ec5-19e7b544fc99",
      "name": "Send a text message",
      "webhookId": "9dd84e82-6250-4f31-8e07-01d0edf8635d",
      "credentials": {
        "telegramApi": {
          "id": "g8BJ6sXmJg9eBRwU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "2cf1a14d-977c-4227-9c51-145ef523ec85",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "fieldToSplitOut": "articles",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "74a53786-5575-4456-b524-316ee42adc3a",
      "name": "Split Out"
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        656,
        0
      ],
      "id": "d394be61-e2f2-482a-8d6f-36a28e9246fc",
      "name": "Limit"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst mesaj = items.map((item, index) => {\n  const haber = item.json;\n  return `${index + 1}. ${haber.title}\\n${haber.url}`;\n}).join('\\n\\n');\n\nreturn [\n  {\n    json: {\n      mesaj: `Günlük Teknoloji Haberleri\\n\\n${mesaj}`\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        0
      ],
      "id": "a3267326-4b2f-4149-aac6-c40d49e8a4a5",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2cd050c0-1661-435f-8ce7-e550ffd0b2e6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3f96706b5e2992b846dd3d51f880f1074722a2c12dc47f7810ea8e5b6bf64444"
  },
  "id": "0G85UsiVgc4Vtio7",
  "tags": []
}